.button
    background: $yellow
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2)
    border: none
    border-radius: 2px
    padding: 13px 33px
    font-family: 'Futura Demi'
    font-size: 13px
    text-transform: uppercase
    color: #ffffff
    cursor: pointer
    transition: all .3s ease
    &:hover
        transform: translate(-5px, -5px)
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 1)
    &--calc
        padding: 20px 40px
    &--submit
        background: transparent
        border: 1px solid #ffffff
        padding: 19px
        &:hover
            transform: none
            box-shadow: 0px 5px 15px rgba(255, 255, 255, .5)

.section
    &__title
        &--big
            font-family: 'Yeseva One'
            font-size: 27px
            line-height: 37px
            letter-spacing: -0.07em
            text-transform: uppercase
            color: $yellow
    &__subtitle
        font-family: 'Futura Book'
        font-size: 18px
        line-height: 29px
        color: #ffffff