.projects
    padding-top: 60px
    background-color: $dark
    &__title
        position: relative
        max-width: 175px
        margin-bottom: 35px
        &::after
            content: ''
            position: absolute
            width: 100px
            height: 1px
            background-color: $yellow
            bottom: 25%
            left: 90%
    &__subtitle
        max-width: 425px
        margin-bottom: 50px
    &__slide
        display: flex
        justify-content: space-between
        align-items: center
        &-desc
            &-row
                display: flex
                justify-content: space-between
                &:first-child
                    margin-bottom: 40px
                &:last-child
                    margin-bottom: 80px
            &-part
                flex: 1
            &--title
                font-family: 'Yeseva One'
                font-size: 18px
                text-transform: uppercase
                color: $yellow
                margin-bottom: 10px
                cursor: pointer
            &--subtitle
                font-family: 'Futura Book'
                font-size: 15px
                transition: all .3s ease
        &-image
            width: 100%
            transition: all .3s ease
            & > img
                width: 100%
                transition: all .3s ease
    &__tab
        display: flex
        justify-content: space-between
        align-items: center
        max-width: 80%
        margin-bottom: 50px
        &-title
            font-family: 'Yeseva One'
            font-size: 14px
            text-transform: uppercase
            color: $yellow
            font-weight: bold
            transition: all .5s ease
            cursor: pointer
            &:hover
                transform: translateY(-5px)
        &-line
            position: absolute
            height: 2px
            background-color: $yellow
            transition: all .3s ease
            opacity: 0
            &.active
                opacity: 1
    &__slider
        &-nav
            display: flex
            justify-content: space-between
            align-items: center
            max-width: 200px
            & > svg
                cursor: pointer
        &-dot
            width: 10px
            height: 10px
            border-radius: 50%
            background-color: rgba(255, 255, 255, .3)
            cursor: pointer
            transition: all .3s ease
            &:hover,
            &.active
                background-color: #ffffff
            &s
                display: flex
                justify-content: space-between
                align-items: center
                flex: 0.5
@keyframes slideSubtitleOut
    from
        transform: translateX(0)
        opacity: 1
    to
        transform: translateX(-100%)
        opacity: 0
@keyframes slideSubtitleIn
    from
        transform: translateX(100%)
        opacity: 0
    to
        transform: translateX(0)
        opacity: 1