.steps
    padding: 100px 0
    background-color: $dark
    &-row
        display: flex
        justify-content: space-between
        align-items: center
    &-nav
        display: flex
        justify-content: space-between
        align-items: center
        flex-wrap: wrap
        padding-top: 5%
        list-style: none
        &__item
            width: 33%
            margin-bottom: 50px
            color: #5A5A5A
            cursor: pointer
            transition: all .3s ease
            &.active,
            &:hover
                color: #ffffff
                span::after
                    opacity: 1
        &__number
            font-family: 'Yeseva One'
            font-size: 17px
            text-transform: uppercase
            position: relative
            color: inherit
            &::after
                content: ''
                position: absolute
                width: 100%
                height: 1px
                top: calc( 100% + 5px )
                left: 0
                background-color: $yellow
                opacity: 0.3
                transition: all .3s ease
        &__desc
            max-width: 125px
            padding-top: 18px
            font-family: 'Futura Book'
            font-size: 15px
            line-height: 1.2em
            color: inherit
    &-slide
        display: flex
        justify-content: space-between
        align-items: center
        cursor: pointer
        &-desc
            margin-right: 150px
            min-width: 215px
        &__title
            font-family: 'Yeseva One'
            font-size: 18px
            line-height: 1.3em
            text-transform: uppercase
            color: $yellow
            max-width: 255px
            margin-bottom: 20px
        &__desc
            font-family: 'Futura Book'
            font-size: 15px
            line-height: 1.7em
            color: #FFFFFF
            max-width: 330px
        img
            max-width: 735px
.owl
    &-one
        .owl-nav
            margin-top: 50px
@media (max-width: 1091px)
    .steps
        &__title
            margin-bottom: 50px
        &-row
            flex-direction: column
        &__title
            max-width: initial
            &::after
                display: none
        &-nav__item
            display: flex
            flex-direction: column
            align-items: center
            text-align: center
    .owl
        &-one
            .owl
                &-stage-outer
                    display: none
                &-nav
                    text-align: center
@media (max-width: 566px)
    .steps
        &-nav__item
            width: 50%
@media (max-width: 366px)
    .steps
        &-nav__item
            width: 100%
    .owl
        &-one
            .owl-nav
                margin-top: 25px